head {
  color: #EEBABA
}
h1 {
  font-size: 26px;
  color: #EEBABA;
  margin-left: 260px;
}

h2 {
  font-size: 19px;
  color: white;
  margin-left: 300px;
  font-style: italic;
}

h3 {
  font-size: 19px;
  color: white;
  margin-left: 310px;
  font-style: italic;
}

h4 {
  font-size: 19px;
  color: white;
  margin-left: 315px;
  font-style: italic;
}

html {
  background-color: #F50404;
}
#challenge, #problems, #results {
  border-width: 600px;
  background-color: #8B1313;
  color: #EEBABA;
}

#output{
  font-size: 16px;
  margin-left: 332px;
}
